{% extends "base.html"%}
{%block title%}TCP DPort Information{%endblock%}
{%block location%}<p><a href="/">Home</a> -><a href="/pcaps/"> PCap Files</a> -> <a href="/pcap/{{filehash}}">{{filename}}</a> -> TCP Dport Information</p>{%endblock%}
{%block content%}
<p>This report shows numbers of TCP packets by source address, destination address, and destination port.</p>
<table>
<caption>TCP Dport Information</caption>
<tr><th>Source Address</th><th>Destination Address</th><th>Destination Port</th><th>Number of Packets</th></tr>
{%for row in rep%}
<tr><td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td></tr>
{%endfor%}
</table>
{%endblock%}
